<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <table class="table table-striped">
    <tr>
      <th>
        <div class="col-xs-6">
          Room Number
        </div>
        <div class="col-xs-6">
          Vacancy
        </div>
      </th>
    </tr>
    <tr *ngFor="let g of BookRoom(); index as i;">
      <td>
        <div class="col-xs-6 custom-td">
          {{g.RoomNumber}}
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-default custom-button" (click)="Book(g.RoomNumber)">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Book
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>